@import "ember-cli-bootstrap-4/bootstrap";

 nav {
     height: 75px;
     animation: slideInFromTop 2s;
     background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);

 }

 .nav-name {
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 30px;
 }

 .nav-photo {
     width: 300px;
     height: 300px;
 }



.my-container {
    height: 1000px;
    width: 100%;
    background: linear-gradient(to right, purple, teal, purple );
}


.pre-selected {
    width: 700px;
    height: 120px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border-radius: 7px;
    animation: 2s fadeIn;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    visibility: hidden;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    30% {
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }



  .second-container {
    width: 1000px;
    height: 120px;
  }



  body{
    background-color: #4D5057;
  }
  
.input{
    width: 400px;
    margin: 0 auto;
    font-family: Lato;
    font-size: 1.4em;
    color: black;

  }     
input{    
      width: 300px;
      height: 40px;  
      margin-top: 80px;
      font-family: Lato;
      font-size: 1.8em;    
      background-color: transparent;
      border: none;
      border-top: 3px solid black;    
      border-bottom: 3px solid black;
      outline: none;
      color: black;
      padding-left: 10px;  
}  

::placeholder {
    color: black;
}



@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.search {
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    animation: slideInFromLeft 3s;
    border-radius: 7px;
}

.display {
    width: 400px;
    height: 300px;
    background-color:#EC2326;
    animation: slideInFromLeft 3s;
    border-radius: 7px;
}

.search-button {
    display: inline-block;
    width: 200px;
    padding: 8px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    font-size: 40px;
  }
  .search-button:hover {
      animation: shake 0.5s;
      animation-iteration-count: infinite;
  }

  
  @keyframes shake {
    0% { transform: rotate(30deg); }
    10% { transform:rotate(-30deg); }
    20% { transform: rotate(30deg); }
    30% { transform: rotate(30deg); }
    40% { transform: rotate(30deg); }
    50% { transform: rotate(-30deg); }
    60% { transform: rotate(30deg); }
    70% { transform: rotate(30deg); }
    80% { transform: rotate(30deg); }
    90% { transform: rotate(30deg); }
    100% { transform: rotate(30deg); }
  }
  
.movie-display {
    width: 400px;
    height: 300px;
    background-color:#EC2326;   
    border-radius: 7px;
    
}

#appear {
    display:none;
}

ul {
    list-style: none;
}


  