<div class ="background-image my-container color-changing">
<nav class="text-center background-red">
    <div class= "nav-font-size">
        <p class="pt-2 nav-name"  title="Click here to reset the page" onClick="window.location.reload();">CinemaGuru</p>
    </div>
</nav>
    {{outlet}}
</div>